REVIEWINSIGHT_DB_PATH=data/reviewinsight.db
REVIEWINSIGHT_SUMMARY_MODEL=google/flan-t5-small
# Model downloads are allowed by default. Set to 1 to use only locally cached files.
REVIEWINSIGHT_MODEL_LOCAL_ONLY=0
